<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mystery Word</title>
  </head>
  <body>
    <h1 id="title">Mystery Word Game</h1>
    <div class="theWordDiv">
      <h2 id="wordHeader">The word is: </h2>
      <h2 id="randomWord">{{randomWord}}</h2>
    </div>
    <div class="theWord">
      {{#mysteryWord}}
      {{.}}
      {{/mysteryWord}}
    </div>

    <form class="guessField" action="/" method="post">
      <input id="guessInput" type="text" name="guess" value="">
      <input id="guessButton" type="submit" name="guessButton" value="Guess the word, BRO!">
    </form>
    <h3 id="guessesLeft">You have {{guessCount}} guesses left</h3>
    <h3 id="yourGuesses">Your guesses: {{guessLetterArray}}</h3>
  </body>
</html>
